.background {
  background-color: rgba(143, 142, 142, 0.7);
  position: fixed;
  height: 100vh; /* responsive 100 VIEW HEIGHT */
  width: 100vw;
  top: 0;
  left: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  max-width: 80vw;
  max-height: 90vh;
}